//$hb-size: 30px;
//$hb-height: 20px;
//$hb-height-opened: 24px;
//$hb-width: 30px;
//$hb-line-size: 2px;
//$hb-line-width-opened: 27px;
//$hb-line-color: $color-primary;
//$hb-line-radius: $hb-line-size;
//$hb-to-translate: ($hb-height - $hb-line-size) / 2;
//$hb-bounce: cubic-bezier(0.87, -0.5, 0.19, 1.5);
//
//.hamburger-btn {
//  position: relative;
//  height: $hb-size;
//  width: 30px;
//  cursor: pointer;
//  // margin: 50px auto;
//  overflow: hidden;
//
//  &.open {
//    height: $hb-height-opened;
//  }
//
//  &__icon {
//    position: absolute;
//    width: $hb-width;
//    height: $hb-height;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//
//    .open & {
//      height: $hb-height-opened;
//    }
//  }
//
//  &__line {
//    position: absolute;
//    right: 0;
//    background-color: $hb-line-color;
//    height: $hb-line-size;
//    // width: 100%;
//    border-radius: $hb-line-radius;
//    pointer-events: none;
//
//    &--1 {
//      top: 0;
//      width: 23px;
//    }
//
//    &--2 {
//      top: 0;
//      bottom: 0;
//      margin: auto;
//      width: 18px;
//    }
//
//    &--3 {
//      bottom: 0;
//      width: 25px;
//    }
//  }
//
//  /*--- Close Button 2 ---*/
//
//  &--close &__line--1 {
//    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.3s;
//  }
//
//  &--close &__line--1:before {
//    content: "";
//    position: absolute;
//    width: 100%;
//    height: $hb-line-size;
//    background-color: $hb-line-color;
//    border-radius: $hb-line-radius;
//    transition: transform 0.1s ease-in-out 0.2s;
//  }
//
//  &--close &__line--2 {
//    transition: opacity 0s ease-in-out 0.3s;
//  }
//
//  &--close &__line--3 {
//    transition: opacity 0s ease-in-out 0.3s, bottom 0.2s ease-in-out 0.3s;
//  }
//
//  // Open
//  &--close.open &__line--1 {
//    top: $hb-to-translate;
//    transform: rotate(135deg);
//    width: $hb-line-width-opened;
//    //background-color: $color-light;
//    transition: top 0.3s ease-in-out, transform 0.2s linear 0.3s, width 0.3s ease-in-out, background-color 0.3s ease-in-out;
//    // transition: "background-color" 0.3s ease-in-out, transform 0.2s linear 0.3s;
//  }
//
//  &--close.open &__line--1:before {
//    transform: rotate(90deg);
//    width: $hb-line-width-opened;
//    //background-color: $color-light;
//    transition: transform 0.1s ease-in-out 0.3s, width 0.3s ease-in-out, background-color 0.3s ease-in-out;
//    // transition: "background-color" 0.3s ease-in-out, transform 0.2s linear 0.3s;
//  }
//
//  &--close.open &__line--2 {
//    opacity: 0;
//    //background-color: $color-light;
//    transition: opacity 0s ease-in-out 0.3s, background-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
//  }
//
//  &--close.open &__line--3 {
//    bottom: $hb-to-translate;
//    opacity: 0;
//    width: $hb-line-width-opened;
//    //background-color: $color-light;
//    transition: bottom 0.3s ease-in-out, opacity 0s ease-in-out 0.3s, background-color 0.3s ease-in-out;
//    // transition: "background-color" 0.3s ease-in-out, transform 0.2s linear 0.3s;
//  }
//}

#menu {
  position: relative;
  z-index: 103 !important;
  display: flex;
  width: 26px;
  //height: 22px;
  height: 26px;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;
  align-items: flex-end;
  transition: transform 0.3s ease-out;
  //transition: transform 0.5s ease;
  //transition: background-color 0.1s ease;
  //transition: width 0.5s ease;
  //transition: none;
  cursor: pointer;

  //&.burger {
  //  transform: translateX(-5px);
  //}

  &::after {
    @include pseudo();
    top: -5px;
    left: -4px;
    width: 140%;
    height: 140%;
    border-radius: 50%;
    border: 1px solid $color-secondary;
    opacity: 0;
    transition: opacity 0s;
  }

  &.hamburger-menu--opened {
    transform: translate(-5px, 20px);
  }
}

#menu.hamburger-menu--opened::after {
  opacity: 1;
  transition: opacity 0.3s 0.15s ease-in-out;
}

.menu__span {
  display: block;
  background-color: $color-primary;
  height: 2px;
  transition: 0.7s ease;
  border-radius: 2px;
  width: 26px;

  &:first-of-type {
    width: 22px;
  }
  &:nth-of-type(2) {
    background-color: $color-secondary;
  }
  &:last-of-type {
    width: 18px;
  }
}

//.menu__span:last-child {
//  width: 68.75%;
//  margin-left: auto;
//}

.plus_rotate {
  width: 22px !important;
  background-color: $color-secondary !important;
  //transform: rotate(45deg) translate(-3px, -8px);
  // transform: rotate(45deg) translate(-6px, -10px);
  // transform: rotate(45deg) translate(-1px, -5px) !important;
  transform: rotate(45deg) translate(-6px, -5px) !important;
}

.minus_rotate {
  width: 22px !important;
  background-color: $color-secondary !important;
  // transform: rotate(-45deg) translate(-1px, 5px) !important;
  transform: rotate(-45deg) translate(-6px, 5px) !important;
}

.none {
  width: 0 !important;
  align-self: center !important;
  opacity: 0 !important;
}

//test

.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  //height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 30px 36px;
  background-color: $color-light;
  height: 100vh;
  width: 100%;
  transform: translateY(-150vh);
  transition: 0.55s transform ease-out;
  @include z-index("header", 1);
  // @include mq("mobile-g-3") {
  //   justify-content: flex-start;
  // }
}

.header--burger .hamburger-menu {
  transform: translateY(0);
}

.hamburger-menu {
  //.hamburger-menu__content {
  //  margin: 164px 0 60px;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //  height: calc(100% - 224px);
  //}

  .hamburger-menu__top-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .hamburger-menu__header {
  }

  .hamburger-menu__logo-container {
    position: relative;
    left: -10px;
    width: 132px;
    margin-bottom: 15px;
  }

  .hamburger-menu__submenu {
    position: relative;
    width: 100%;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);

    &.contacts-submenu {
      padding-top: 16px;

      .contact-link {
        @include font(1.8rem, 2.4rem, $text-main-color, 700);

        > img {
          width: 21px;
          height: 21px;
        }
      }
    }

    &::after {
      @include pseudo();
      top: calc(50% + 2px);
      right: 5px;
      width: 4px;
      height: 7px;
      background-image: url("../../src/assets/images/general/hamburget-rigth-arrow.svg");
    }
  }

  .hamburger-menu__language-title {
    @include font(1.2rem, 1.8rem, #808080, 400);
    margin-bottom: 5px;
  }

  .lang-select__item {
    justify-content: flex-start;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    // margin-top: 164px;
    // @include mq("mobile-g-1") {
    //   margin-top: 140px;
    // }
    // @include mq("mobile-g-3") {
    //   margin-top: 110px;
    //   margin-bottom: 20px;
    // }

    // .navigation__item {
    //   margin: 0;
    // }

    .navigation__link {
      //   display: block;
      //   margin: 30px 0;
      //   @include font(1.6rem, 1.6rem, #383b45, 500);
      //   @include mq("mobile-g-1") {
      //     margin: 25px 0;
      //   }
      //   @include mq("mobile-g-3") {
      //     margin: 20px 0;
      //   }
      @include font(2.4rem, 3rem, $text-main-color, 500);
      margin: 12px 0;
    }
  }

  .hamburger-menu__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    max-height: 122px;
    justify-content: space-between;
  }

  .hamburger-menu__additional-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    > a {
      padding: 5px 0;
      margin: 5px 0;
      @include font(1.4rem, 1.4rem, #bfc1c8, 500);
    }
  }

  .hamburger-menu__btn {
    max-width: 315px;
    width: 100%;
    align-self: center;
    padding: 22px 0 18px;
    box-shadow: 0px 24px 35px rgba(99, 172, 218, 0.15);
    @include mq("mobile-l") {
      max-width: 430px;
    }
  }
}

// hamburger submenus

.hamburger-menu.hamburger-menu--submenu {
  .hamburger-menu__btn {
    transition: opacity 0.2s ease-in, padding 0s 0.2s;
    opacity: 0;
    padding: 0px;
  }
}

.hamburger-menu__contact-list {
  display: flex;
  flex-direction: column;
}

.hamburger-menu__contact-list {
  display: flex;
  position: relative;
  // overflow: hidden;
  padding: 0 20px;
  // transition: overflow 0.6 0.6s;

  .contact-list {
    position: absolute;
    top: -10px;
    // opacity: 0;
    max-height: 0;
    transform: translateX(-8%);
  }

  .contact-list__title {
    margin-bottom: 20px;
    width: 230px;
    @include font(1.6rem, 2.6rem);
  }

  .contact-list__items {
    margin-bottom: 24px;
  }

  .contact-item:not(:last-of-type) {
    margin-bottom: 18px;
  }

  .contact-link {
    @include font(2.4rem, 3rem);
    span:nth-of-type(2) {
      color: $color-primary !important;
    }
  }

  .social-links {
    padding-top: 30px;
  }
}

.hamburger-menu__back-btn {
  background-color: $color-primary;
  box-shadow: none;
  width: 139px;
  margin-bottom: 30px;
  padding: 10px 20px;
  @include font(1rem, 1rem, $color-light, 500);
}

.hamburger-menu__submenu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $color-light;
  @include transition-fast();
  transform: translateX(150%);

  .lang-select__item {
    padding: 14px 0;
    border-bottom: 1px solid #d0d0d0;
    > span {
      text-transform: capitalize;
    }
    &--active {
      font-weight: 700;
    }
  }

  &.hamburger-menu__submenu-container--showed {
    transform: translateX(0);
  }
}

.hamburger-menu__main-container {
  position: relative;
  > * {
    width: 100%;
    flex-shrink: 0;
  }
  display: flex;
}
