.air-park-ticker {
  position: relative;
  // @include mq("tablet-general-2") {
  //   display: flex;
  //   flex-direction: column-reverse;
  // }
}
.air-park-ticker__text-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: $color-light;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 50%;
  // border-radius: 0px 0px 10px 0px;
  z-index: 3;
  // @include mq('desktop-xxl') {
  //   @include mq-variable("margin-left");
  // }
  @include mq("tablet-general-1") {
    width: 60%;
  }
  @include mq("tablet-general-3") {
    display: none;
  }
}

.air-park-ticker__text-container {
  width: 830px;
  height: 401px;
  padding-top: 60px;
  padding-right: 60px;
  @include mq("desktop-xxl") {
    @include mq-variable("padding-left");
    width: 100%;
  }
  @include mq("tablet-general-1") {
    height: 255px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  // @include mq("tablet-general-2") {
  //   height: auto;
  //   padding: 40px 40px 60px;
  // }
  // @include mq("tablet-m") {
  //   width: 410px;
  // }
  // @include mq("tablet-s") {
  //   width: 315px;
  // }
}

.air-park-ticker__mobile-text-container {
  display: none;
  @include mq("tablet-general-3") {
    display: block;
    padding: 40px 40px 60px;
  }
  @include mq("tablet-l") {
    display: block;
    padding: 12px 20px 52px;
  }
}

.air-park-ticker__title {
  margin-bottom: 15px;
  color: $color-primary;
  @include mq("tablet-general-1") {
    margin-bottom: 10px;
  }
  @include mq("tablet-general-3") {
    margin-bottom: 15px;
  }
  @include mq("tablet-m") {
    margin-bottom: 10px;
  }
}

.air-park-ticker__description {
  @include mq("tablet-general-1") {
    @include font(1.4rem, 2.6rem);
  }
  @include mq("tablet-general-3") {
    @include font(1.5rem, 3rem);
    max-width: 720px;
  }
}

.ticker-swiper {
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .ticker-swiper__slide {
    display: flex;
    flex-direction: column;
    width: 820px;
    @include mq("tablet-general-1") {
      width: 520px;
    }
    @include mq("tablet-m") {
      width: 410px;
    }
    @include mq("tablet-s") {
      width: 315px;
    }

    > img {
      margin-bottom: 20px;
      border-radius: 8px;
      @include mq("tablet-general-3") {
        margin-bottom: 8px;
      }
    }
  }
}
