.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 130px;
  @include mq("desktop-xl") {
    padding: 0 80px;
  }
  @include mq("desktop-m") {
    padding: 0 40px;
  }

  @include mq("tablet-l") {
    padding: 0 20px;
  }

  // @include media-tablet-large {
  //   padding: 0 20px;
  // }

  &--without-paddings {
    padding: 0;
  }
}
